# ----- logger -----
LOG_DIR=
LOG_MAX_SIZE=
LOG_MAX_AGE=
LOG_MAX_BACKUP=
LOG_LOCAL_TIME=
LOG_COMPRESS=
LOG_USE_CONSOLE_COLORS=

# ----- server -----
SERV_HOST=
SERV_PORT=
SERV_REDIRECT_URL=

# ----- database -----
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_POOLSIZE=
DB_IDLE_TIMEOUT_MINUTE=
DB_MAX_IDLE_CONNS=
DB_MAX_RETRIES=
DB_READ_TIMEOUT_MINUTE=
DB_WRITE_TIMEOUT_MINUTE=

DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

# Test
DB_TEST_NAME=
DB_TEST_PORT=

DB_TEST_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_TEST_PORT}/${DB_TEST_NAME}?sslmode=disable

# ----- AUTH -----
SECRET_KEY=

# available options:
# HS256 --- defaul value
# HS384
# HS512
TOKEN_SIGN_METHOD=

# default 5 min
MAX_ACCESS_TOKEN_DURATION=

# default 7 days (168h), use value in hours
MAX_REFRESH_TOKEN_DURATION=

# default 30 days (720h), use value in hours
MAX_SESSION_DURATION=

# ----- RESOURCES -----
UPLOADS_DIR=
UPLOADS_MAX_SIZE_MB=