.btn-primary {
  --tui-background-accent-1: var(--app-brand-500);
  --tui-background-accent-1-hover: var(--app-brand-400);
  --tui-background-accent-1-pressed: var(--app-brand-600);
  --tui-text-primary-on-accent-1: var(--app-text-on-accent);
  font-weight: 400 !important;
  padding: 1rem !important;
  font-size: 16px !important;
  border-radius: 1rem !important;
}

[data-appearance='primary-tooltip'] {
  background: var(--app-grey-100) !important;
  max-width: 25rem !important;
  padding: 0.8rem !important;
  color: var(--app-fg) !important;
  --tui-duration: 20ms !important;
  border-radius: 0.8rem !important;

  &::before,
  &::after {
    display: none !important;
  }
}

[tuiAppearance][data-appearance='textfield'] {
  box-shadow: none !important;
  --tui-duration: 0ms !important;
}

[tuiAppearance][data-appearance='floating'] {
  box-shadow: none !important;
}

[tuiTh],
[tuiTd] {
  border-inline-end: none !important;
  border-inline-start: none !important;
}
