@theme {
  --color-app-bg: var(--app-bg);
  --color-app-fg: var(--app-fg);

  --color-app-brand-50: var(--app-brand-50);
  --color-app-brand-100: var(--app-brand-100);
  --color-app-brand-200: var(--app-brand-200);
  --color-app-brand-300: var(--app-brand-300);
  --color-app-brand-400: var(--app-brand-400);
  --color-app-brand-500: var(--app-brand-500);

  --color-app-grey-100: var(--app-grey-100);
  --color-app-grey-200: var(--app-grey-200);
  --color-app-grey-700: var(--app-grey-700);
  --color-app-grey-900: var(--app-grey-900);
}
